html,body {
  background-color: #4d96c6;
}

*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #4d96c6;
}
.error-msg {
  color: red;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
 
}