.photo-container {
  width: 100%;
  padding-top: 75%;
  position: relative;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  }
body, #wdyw-form  {
  background-color: #F1FAEE;
}
section{
 color: #e63946
}
.hero-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  align-content: center;
}
.hero-content {

}